/****** BASE RESET ******/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

/****** FONTS ******/
html {
  font-family: 'Advent Pro', cursive;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #82b3c29e;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container {
  height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  padding: 2rem 0;
  font-family: 'Akaya Kanadaka', sans-serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: #ad125b;
}

.inner-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sort-container {
  width: 20%;
  margin: 1rem;
  text-align: left;
}

.users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.user-card {
  position: relative;
  height: 18rem;
  width: 16rem;
  margin: 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
}

.user-card:hover {
  -webkit-box-shadow: #ad125ab6 0px 5px 15px;
          box-shadow: #ad125ab6 0px 5px 15px;
}

.user-card.male {
  background-color: #aaddff7a;
}

.user-card.female {
  background-color: #ffc4fd6e;
}

.card-image-container {
  position: relative;
  height: 45%;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin: auto;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
  -webkit-filter: blur(0.1rem) grayscale(57%);
          filter: blur(0.1rem) grayscale(57%);
}

.user-image {
  position: absolute;
  top: 20%;
  left: 32%;
  height: 5.5rem;
  width: 5.5rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-information {
  position: relative;
  height: 55%;
  width: 100%;
  margin-top: 2.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-information p {
  margin-bottom: 0.45rem;
}

.user-name {
  margin-bottom: 0.5rem;
}

.user-age {
  color: #5c5b5b;
}

.user-email,
.user-phone,
.user-location {
  width: 2.2rem;
  height: 2.2rem;
  padding-top: 0.45rem;
  margin: 0.4rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-email:hover,
.user-phone:hover,
.user-location:hover {
  background-color: #ad125b;
  color: #ebe6e6;
  border: 0.1rem solid transparent;
}

.material-icons {
  font-size: 1.2rem;
}

.main-search {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 2rem;
  padding-left: 0.5rem;
  font-family: 'Advent Pro', cursive;
  letter-spacing: 0.1rem;
  outline: none;
  border: 0px solid;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inner-sort-container {
  margin-top: 2rem;
}

.sort-title {
  width: 100%;
  margin: 0 0.5rem 1rem;
  text-align: left;
}

.radios-container {
  width: 100%;
}

.age,
.gender,
.name {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .inner-sort-container {
    text-align: center;
  }
  .sort-container {
    width: 90%;
  }
  .sort-title {
    width: 50%;
    text-align: center;
  }
  .radios-container {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .age,
  .gender,
  .name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.radio-input {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.form-label {
  margin: 0 0.5rem;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-label:focus-within {
  border: 1px solid #333232;
}

.form-label img {
  height: 3rem;
  width: 3rem;
}

.no-matches-title {
  margin-top: 4rem;
}

.reset-button {
  width: 74%;
  height: 2rem;
  margin-top: 2rem;
  font-family: 'Advent Pro', cursive;
  letter-spacing: 0.1rem;
  color: #ebe6e6;
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #ad125b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
}

.reset-button:hover, .reset-button:checked {
  background-color: #7c073e;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0.5rem auto 1rem;
  opacity: 1;
}

.footer-info {
  height: 100%;
  width: 200%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.github-link {
  text-decoration: none;
  color: #000;
}

.github-link:hover {
  color: #ad125b;
}
/*# sourceMappingURL=style.css.map */