/****** BASE RESET ******/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

/****** FONTS ******/
html {
  font-family: 'Advent Pro', cursive;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #d6d6d6;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container {
  height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  padding: 2rem 0;
  font-family: 'Akaya Kanadaka', sans-serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: #ad125b;
}

.inner-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sort-container {
  width: 20%;
  margin: 1rem;
  text-align: left;
}

.users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.user-card {
  position: relative;
  height: 18rem;
  width: 16rem;
  margin: 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.349) 0px 5px 15px;
}

.user-card:hover {
  -webkit-box-shadow: #ad125b 0px 5px 15px;
          box-shadow: #ad125b 0px 5px 15px;
}

.card-image-container {
  position: relative;
  height: 45%;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
  -webkit-filter: blur(0.1rem) grayscale(57%);
          filter: blur(0.1rem) grayscale(57%);
}

.user-image {
  position: absolute;
  top: 20%;
  left: 32%;
  height: 5.5rem;
  width: 5.5rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-information {
  position: relative;
  height: 55%;
  width: 100%;
  margin-top: 2.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-information p {
  margin-bottom: 0.45rem;
}

.user-name {
  margin-bottom: 0.5rem;
}

.user-age {
  color: #5c5b5b;
}

.user-email,
.user-phone {
  text-decoration: none;
  color: #000;
  margin-bottom: 0.2rem;
}

.user-email:hover,
.user-phone:hover {
  color: #ad125b;
  text-decoration: underline;
}

.main-search {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 2rem;
  padding-left: 0.5rem;
  font-family: 'Advent Pro', cursive;
  letter-spacing: 0.1rem;
  outline: none;
  border: 0px solid;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inner-sort-container {
  margin-top: 2rem;
}

.sort-title {
  width: 5rem;
  padding: 0.5rem 0;
  margin: 0 1rem;
  text-align: left;
}

.radios-container {
  width: 7rem;
}

.age,
.gender,
.name {
  margin-bottom: 1rem;
}

.radio-input {
  position: relative;
  height: 0;
  width: 0;
  cursor: pointer;
}

.sort-label {
  position: relative;
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-descending {
  background-image: url(assets/icons/descending.png);
}

.button-descending:hover, .button-descending:focus {
  background-image: url(assets/icons/descending_active.png);
}

.button-ascending {
  background-image: url(assets/icons/ascending.png);
}

.button-ascending:hover, .button-ascending:focus {
  background-image: url(assets/icons/ascending_active.png);
}

.button-male {
  background-image: url(assets/icons/male.png);
}

.button-male:hover, .button-male:focus {
  background-image: url(assets/icons/male_active.png);
}

.button-female {
  background-image: url(assets/icons/female.png);
}

.button-female:hover, .button-female:focus {
  background-image: url(assets/icons/female_active.png);
}

.button-AZ {
  background-image: url(assets/icons/AZ.png);
}

.button-AZ:hover, .button-AZ:focus {
  background-image: url(assets/icons/AZ_active.png);
}

.button-ZA {
  background-image: url(assets/icons/ZA.png);
}

.button-ZA:hover, .button-ZA:focus {
  background-image: url(assets/icons/ZA_active.png);
}
/*# sourceMappingURL=style.css.map */